/node_modules
/public/hot
/public/storage
/public/score.txt
/public/banner.txt
/public/tel.txt
/storage/*.key
/storage/debugbar
composer.lock
/vendor
.env
.idea
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.phpstorm.meta.php
.DS_Store
composer.lock
